<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <servlet>
    <servlet-name>Servlet</servlet-name>
    <servlet-class>homework0919_fileUpload.Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Servlet2</servlet-name>
    <servlet-class>homework0919_fileUpload.Servlet2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Servlet3</servlet-name>
    <servlet-class>homework0919_fileUpload.Servlet3</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Homework3</servlet-name>
    <servlet-class>com.lyl.homework3.Homework3</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Homework4</servlet-name>
    <servlet-class>com.lyl.homework4.Homework4</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Homework5</servlet-name>
    <servlet-class>com.lyl.homework5.Homework5</servlet-class>
  </servlet>






  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/servlet/Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet2</servlet-name>
    <url-pattern>/servlet/Servlet2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet3</servlet-name>
    <url-pattern>/servlet/Servlet3</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Homework3</servlet-name>
    <url-pattern>/servlet/Homework3</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Homework4</servlet-name>
    <url-pattern>/servlet/Homework4</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Homework5</servlet-name>
    <url-pattern>/servlet/Homework5</url-pattern>
  </servlet-mapping>

</web-app>